.productdisplay {
  display: flex;
  margin: 0px 40px;
}
.productdisplay-left {
  display: flex;
  gap: 17px;
}
.productdisplay-img-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.productdisplay-img-list img {
  height: 100px;
}
.productdisplay-img-main {
  height: 600px;
}
.productdisplay-right {
  margin: 0px 40px;
  display: flex;
  flex-direction: column;
}
.productdisplay-right h1 {
  color: #3d3d3d;
  font-size: 40px;
  font-weight: 700;
}
.productdisplay-right-star {
  display: flex;
  align-items: center;
  margin-top: 13px;
  font-size: 16px;
  gap: 5px;
  color: #1c1c1c;
}
.productdisplay-right-prices {
  display: flex;
  margin: 10px 0px;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}
.productdisplay-right-prices-old {
  color: #8c8c8c;
  text-decoration: line-through;
}
.productdisplay-right-prices-new {
  color: #ca1b24;
}
.productdisplay-right-size {
  margin-top: 10px;
  color: #8c8c8c;
  font-size: 20px;
  font-weight: 600;
}
.productdisplay-right-size-list {
  display: flex;
  gap: 20px;
  margin: 30px 0px;
}
.productdisplay-right-size-list div {   
  padding: 8px 14px;
  background: #fbfbfb;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  cursor: pointer;
}
.productdisplay-right button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background: #ca1b24;
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.productdisplay-right-category {
 margin-top: 30px;
  color: #8c8c8c;
  font-size: 20px;
  font-weight: 600;
}
.productdisplay-right-category span {
  color: #0d0808;
}