.shopCategory-banner {
  display: block;
  margin: 30px auto;
  width: 80%;
}
.shopCategory-indexSort {
  display: flex;
  margin: 0px 170px;
  justify-content: space-between;
  align-items: center;
}
.shopCategory-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
}
.shopCategory-products {
  margin: 20px 170px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 80px;
}
.shopCategory-indexSort p span {
  font-weight: 600px;
  color: #888;
}
.shopCategory-loadMore{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  width: 220px;
  height: 70px;
  border-radius: 75px;
  background: #ededed;
  color:#787878;
  font-weight: 500;
  font-size: 18px;
}