.login-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}
.loginSignUp-container {
  padding: 40px 60px;
  margin: auto;
  width: 580px;
  height: 600px;
  background: white;
  
}
.loginSignUp-container h1 {
  margin: 20px 0px;
}
.loginSingUp-fields {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 30px;
}
.loginSingUp-fields input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid lightgray;
  outline: none;
  padding: 0px 20px;
}
.loginSignUp-container button {
    
  width: 580px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background: #ff4141;
  color: white;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  
}
.loginSignUp-login {
color:#5c5c5c;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}
.loginSignUp-login span {
  color: #ff4141;
  font-weight: 600;
  cursor: pointer;
}
.loginSignUp-agree {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}
.loginSignUp-agree input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}